.rouge {
	color: red;
}

.rouge p.small-elm, .zz {
	font-size: 5px;
}

.docRef{
	color: green;
	text-transform: uppercase;
}
.docRef::after{
	content: "Référence du document";
	color:blue;
	font-size: 5pt;
}

.docRef:hover{
	font-weight: bolder;
}



